html {
	background: white;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: black;
	margin: 9px 0px 0px;
	text-align: center;
}

h2 {
	text-align: -webkit-center;
	margin-top: 3px;
	font-size: 26px;
}

h3 {
	text-align: center;
	font-size: 18px;
}

h2#Kontakt {
	text-align: left;
}

a.LoggedNutzer {
	right: 0;
	position: absolute;
	margin-right: 160px;
}

table.SuchenVpanelTop {
	width: 800px;
	min-height: 65px;
	margin-top: 1%;
	border-bottom-style: dashed;
	border-bottom-color: black;
}

table.SuchenHpanelTop {
	width: 600px;
}

table.hpanelLinks {
	width: 800px;
}

td.middleLeft {
	width: 1%;
}

div.SuchenText {
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 17px;
    margin-left: 5px;
}

div.SuchenBeschreibenKontakt {
	width: 150px;
	margin-bottom: 10px;
	font-size: 15px;
	margin-left: 5px;
}

div.SuchenBeschreibenAuspraegung {
	width: 150px;
	margin-bottom: 10px;
	font-size: 15px;
	margin-left: 5px;
}

input.DialogboxBackground{
    height: 30px;
    width: 150px;
}


a.Logout {
	right: 0;
	position: absolute;
	margin-right: 110px;
}

a.KontoLoeschen {
	right: 0;
	position: absolute;
	margin-right: 20px;
	 color: red;
}

a.Impressum {
	right: 0;
	position: absolute;
	margin-right: 160px;
}

a.Startseite {
	
    right: 0;
    position: absolute;
    margin-right: 230px;
}

.ButtonICON {
	height: 18px;
	width: 18px;
}

.ButtonKontaktlisteTeilen {
	height: 80px;
	width: 80px;
}

.Kontaktbild {
	height: 110px;
	width: 130px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.scrollPanel {
	margin: auto;
	font-size: 20px;
}

.cellListKontakte {
	border-color: blue;
	border-width: 1px;
	broder-style: solid;
}

.gwt-DialogBox {
	width: 300px;
}

.dialogVPanel {
	margin: 5px;
}

.loginPanel {
	margin-left: auto;
	margin-right: auto;
}

.serverResponseLabelError {
	color: red;
}

#closeButton {
	margin: 15px 6px 6px;
}

body {
	margin: 0;
	height: 100%;
	font: normal 1em Arial, sans-serif;
	color: #333;
}

header {
	border-radius: 20px;
	margin-bottom: 15px;
}

[role="banner"] {
	background: url(Image/Logo.png) no-repeat right, #000
		repeating-linear-gradient(-45deg, SeaGreen, LimeGreen, Gainsboro);
	background-size: contain, auto;
	padding: 0 0 0.5em;
}

@media screen and (max-width: 40em) {
	[role="banner"] {
		background-image: none;
	}
}

[role="banner"] h1, [role="banner"] p {
	max-width: 60em;
	margin: 0 auto;
	padding-left: 10%;
	font-family: 'Roboto', sans-serif;
	font-variant: small-caps;
	font-weight: lighter;
	font-size: 2em;
	color: #eee;
}

[role="banner"] p {
	padding: 3em 10%;
	color: white;
}

[role="banner"] img {
	float: right;
	height: 15em;
}

div#Navigationsseite {
	background: white;
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}

div#NavigationsseiteR {
	background: white;
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}

div#Navigator {
	background: rgb(255, 255, 255);
	width: 250px;
	height: 100%;
	min-height: 500px
}

div#Details {
	width: 100%;
	height: 90%;
}

div#Buttonbar {
	width: 100%;
	height: 5%;
	min-height: 45px;
	max-height: 45px;
	border-bottom: 1px solid black;
}

div.DialogboxBackground {
	left: 465px;
	top: 279px;
	visibility: visible;
	position: absolute;
	overflow: visible;
	width: 30%;
	border-radius: 15px;
	border-style: double;
	background: #000
		repeating-linear-gradient(-45deg, SeaGreen, LimeGreen, Gainsboro);
}

div.cellListKontakte {
	background-color: white;
}

div.ÜberschriftMyContacts {
	font-family: serif;
}

div.BegrueßungsText {
	text-align: -webkit-center;
	font-size: 25px;
}

div.DialogboxBackground1 {
	background: white;
	left: 271px;
	top: 187px;
	visibility: visible;
	position: absolute;
	overflow: visible;
	border-width: 1px;
	max-width: 300px;
	border-style: groove;
}

div.scrollPanel1 {
    border-style: groove;
    background: white;
    width: 800px;
    margin-top: 15px;
    font-size: 20px;
}

div.cellListKontakte {
	height: 250px;
}

img.Startbild {
	width: 100px;
	margin-left: 50px;
}

table.HpanelKlist {
	margin-top: 3%;
	width: 23%;
	margin-left: 30%;
}

div.KlistBezeichnung {
	font-size: 17px;
}

.HtmlText {
	margin-bottom: 10px;
}

.HtmlText1 {
	
}

table.HPanel {
	width: 100%;
}

table.HpanelTop {
	width: 800px;
	border-bottom-style: dashed;
	border-bottom-color: black;
}

input.KontaktName {
	margin-bottom: 10px;
}

div.KontaktAnlegenHTML1 {
	white-space: normal;
	margin-bottom: 10px;
	font-size: 20px;
}

div.KontaktAnlegenHTML2 {
	font-size: 17px;
	margin-bottom: 24px;
}

img.LogoStartseite {
	width: 40%;
	border-bottom-style: dashed;
	margin-left: 30%;
}

table.PanelButton {
	width: 600px;
}

.TeilhaberschaftVPanel {
	margin: auto;
	margin-left: 250px;
}

.TeilhaberschaftButton {
	margin-right: 35px;
}

.kontaktlisteTeilenIcon{
	    margin-left: 63px;
}

.DropDown {
	
}

h1 {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Arial Unicode MS, Arial, sans-serif;
	text-transform: uppercase;
}

tr {
	height: 15px;
}

td {
	width: 10%;
}

table {
	width: 100%;
	height: 15px;
}

.MainFormButtonbar {
	margin-right: 20px;
}

table#MainTable {
	min-height: 500px;
	height: 100%;
}

table.TableButton {
	width: 62%;
}

table.hpanelRechts{
	width: 800px;
}

table.CellTableHyprid {
    margin-bottom: 35px;
    width: 525px;
    max-height: 400px;
}

table.CellTableAuspraegung {
	width: 600px;
	margin: auto;
}

img.ButtonICON {
	margin-left: 7px;
}

td {
	height: 30px;
	vertical-align: top;
	width: 200px;
}

td#tdEigenschaftReport {
	text-align: left;
}

td#tdAuspraegungReport {
	text-align: right;
}

div#Linie {
	width: 100%;
	text-align: middle;
}

td#links {
	border: 2px solid black;
	background: white;
	width: 200px;
	height: 100%;
}

td#rechts {
	border: 2px solid black;
	background: white;
	width: 100%;
	height: 100%;
}

bezEigenschaft {
	height: 15px;
}

.add-scrollbar {
	display: block;
	overflow: auto;
}

footer {
	padding: 0.5em 1em 0;
	color: white;
	border-radius: 20px;
	background: #000
		repeating-linear-gradient(-45deg, SeaGreen, LimeGreen, Gainsboro);
}

footer>* {
	flex: 1 1 20em;
}

footer .branding {
	text-align: right;
}

.gwt-DialogBox .Caption {
	background: #F1F1F1;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #D2D2D2;
}

button.gwt-Button {
	margin: 5px;
	padding: 8px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: medium;
	background: white border: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 3px;
}

button.edit-Button {
	margin: 5px;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: small;
	background: url(Image/Bearbeiten.png) no repeat left center;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
}

.klTeilenText {
	text-align: -webkit-center;
	font-size: 15px;
}

.nutzerSuggestBox {
	    margin-left: 24px;
    margin-top: 7px;
    margin-bottom: 10px;
}


.headlineKontaktliste{
	margin-left: -40px;
    margin-top: 50px;
    font-size: 30px;
}

.klStatus{
	width: 50px;
    height: 40px;
    margin-top: 44px;
    margin-left: 139px;
}

.scrollPanelTeilhaber{
    border-style: groove;
    background: white;
    font-size: 15px;
}

.TeilhaberschaftText {
	text-align: -webkit-center;
	font-size: 15px;
}